@page "/admin/client"
@using SecurityService.Application.Service.Client
@inject IClientApplication _application

<div class="col-md-12 ">
    <div class="input-group input-group-outline">
        <div class="form-group col-md-4">
            <label for="inputEmail4">جستجو بر اساس :نام کلاینت</label>
            <input @bind="_searchModel.ClientId" @bind:event="oninput" type="text" class="form-control" />
        </div>
    </div>
    <br />
    <br />

    <a class="btn btn-primary" href="/admin/client/create">ثبت کلاینت جدید</a>
    <br />
    <br />

    <Table dir="rtl" Bordered="true"
           Striped="true"
           FixedHeader
           FixedHeaderTableHeight="400px"
           Resizable
           ResizeMode="TableResizeMode.Columns">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>نام کلاینت</TableHeaderCell>
                <TableHeaderCell>نام کاربری</TableHeaderCell>
                <TableHeaderCell>تاریخ ثبت</TableHeaderCell>
                <TableHeaderCell>عملیات</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in _application.Search(_searchModel))
            {
                <TableRow>
                    <TableRowCell>@item.Id</TableRowCell>
                    <TableRowCell>@item.ClientId</TableRowCell>
                    <TableRowCell>@item.UserName</TableRowCell>
                    <TableRowCell>@item.CreationDate</TableRowCell>
                    <TableRowCell>
                        <a class="btn btn-outline-secondary" href="admin/client/Edit/@item.Id">ویرایش</a>
                        <a class="btn btn-outline-danger" @onclick="@(() => OnDeleteClient(item.Id))">حذف</a>
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</div>
