@page "/client/panel/{clientid?}"
@using MqttService.Actions
@using SecurityService.Application.Service.Client
@inject NavigationManager NavManager
@inject IClientApplication _application;
<MudTabs dir="ltr" AlwaysShowScrollButtons="true" Elevation="4" Rounded="true" Centered="true" Color="MudBlazor.Color.Dark">
    <MudTabPanel Text="مشخصات دستگاه">
        <MudPaper Height="100%" Width="100%" Style="margin-top:20px">
            <MudPaper Height="100%" Width="100%">
                <MudContainer Fixed="true">
                    <MudGrid>
                        <Div Class="col-md-4 col-12 p-3">
                            <MudList>
                                <MudListItem Avatar="@Icons.Material.Filled.Fingerprint">
                                    <Div Class="row">
                                        <Span Class="col-md-6">ID</Span>
                                        <Span Class="col-md-6">@clientConnected.ClientId</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.VerifiedUser">
                                    <Div Class="row">
                                        <Span Class="col-md-6">Username</Span>
                                        <Span Class="col-md-6">@clientConnected.UserName</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">IP Address</Span>
                                        <Span Class="col-md-6">@clientConnected.Endpoint</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">Protocol Version</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.ProtocolVersion</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">RequestProblemInformation</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.RequestProblemInformation</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">WillMessageTopic</Span>
                                        <Span Class="col-md-6" Style="font-size:11px">@(clientConnected.Context.WillMessage == null ? "" : clientConnected.Context.WillMessage.Topic)</Span>
                                        </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">WillMessagePayLoad</Span>
                                        <Span Class="col-md-6" Style="font-size:11px">@if (clientConnected.Context.WillMessage != null) { MqttActions.EncodeToString(clientConnected.Context.WillMessage.Payload); }</Span>
                                        </Div>
                                </MudListItem>


                            </MudList>
                        </Div>
                        <Div Class="col-md-4 col-12  p-3">
                            <MudList>
                                <MudListItem Avatar="@Icons.Material.Filled.Image">
                                    <Div Class="row">
                                        <Span Class="col-md-6">CleanSession</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.CleanSession</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Work">
                                    <Div Class="row">
                                        <Span Class="col-md-6">AuthenticationMethod</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.AuthenticationMethod</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">SecureConnection</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.IsSecureConnection</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">KeepAlivePeriod</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.KeepAlivePeriod</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">RequestResponseInformation</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.RequestResponseInformation</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">SessionExpiryInterval</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.SessionExpiryInterval</Span>
                                    </Div>
                                </MudListItem>


                            </MudList>
                        </Div>
                        <Div Class="col-md-4 col-12  p-3">
                            <MudList>
                                <MudListItem Avatar="@Icons.Material.Filled.Image">
                                    <Div Class="row">
                                        <Span Class="col-md-6">ClientCertificate</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.ClientCertificate</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Work">
                                    <Div Class="row">
                                        <Span Class="col-md-6">MaximumPacketSize</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.MaximumPacketSize</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">ReasonCode</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.ReasonCode</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">ReasonString</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.ReasonString</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">ResponseAuthenticationData</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.ResponseAuthenticationData</Span>
                                    </Div>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Umbrella">
                                    <Div Class="row">
                                        <Span Class="col-md-6">TopicAliasMaximum</Span>
                                        <Span Class="col-md-6">@clientConnected.Context.TopicAliasMaximum</Span>
                                    </Div>
                                </MudListItem>

                            </MudList>
                        </Div>
                    </MudGrid>
                </MudContainer>
            </MudPaper>
        </MudPaper>
    </MudTabPanel>
    <MudTabPanel Text="Subscribed Topic">

                <MudContainer Fixed="true">
                        <Div Class="col-md-12 col-12 p-3">
                            <MudTable Items="@Subscriptions" FixedHeader="true" FixedFooter="true" Height="400px">
                                <HeaderContent>
                                    <MudTh>Name</MudTh>
                                    <MudTh>Qos</MudTh>
                                    <MudTh>Retain</MudTh>
                                    <MudTh>Topic</MudTh>
                                    <MudTh>RetainHandling</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name">@context.ClientId</MudTd>
                                    <MudTd DataLabel="Qos">@context.TopicFilter.QualityOfServiceLevel</MudTd>
                                    <MudTd DataLabel="Retain">@context.TopicFilter.RetainAsPublished</MudTd>
                                    <MudTd DataLabel="Topic">@context.TopicFilter.Topic</MudTd>
                                    <MudTd DataLabel="RetainHandling">@context.TopicFilter.RetainHandling</MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                                </PagerContent>
                            </MudTable>
                        </Div>
                </MudContainer>
    </MudTabPanel>
    <MudTabPanel Text="داده های ارسال شده">

                        <MudContainer Fixed="true">
                        <Div Class="col-md-12 col-12 p-3">
                            <MudTable Items="@receviedmessage" FixedHeader="true" FixedFooter="true" Height="400px">
                                <HeaderContent>
                                    <MudTh>Name</MudTh>
                                    <MudTh>Topic</MudTh>
                                    <MudTh>PayLoad</MudTh>
                                    <MudTh>Qos</MudTh>
                                    <MudTh>Retain</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Name">@context.ClientId</MudTd>
                                    <MudTd DataLabel="Topic">@context.Topic</MudTd>
                                    <MudTd DataLabel="PayLoad">@context.PayLoad</MudTd>
                                    <MudTd DataLabel="Qos">@context.Qos</MudTd>
                                    <MudTd DataLabel="RetainFlag">@context.RetainFlag</MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                                </PagerContent>
                            </MudTable>
                        </Div>
                </MudContainer>


    </MudTabPanel>
</MudTabs>
