@page "/"
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

        <div class="col-md-12" >
            <div dir="ltr">
                    ConntionId: @Connection_Id
            </div>
       <MudTable Items="@clients" FixedHeader="true" Height="400px" Loading="@_loader" Bordered="true" Striped="true">
            <HeaderContent>
                <MudTh>کد کلاینت</MudTh>
                <MudTh>موضوع</MudTh>
                <MudTh>QOS</MudTh>
                <MudTh>Retain</MudTh>
                <MudTh>تاریخ اتصال</MudTh>

            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.ClientId</MudTd>
                <MudTd DataLabel="Message">@context.Topic</MudTd>
                <MudTd DataLabel="Date">@context.QualityOfServiceLevel</MudTd>
                <MudTd DataLabel="Date">@context.Retian</MudTd>
                <MudTd DataLabel="Date">@context.LastConnectedDate</MudTd>

            </RowTemplate>
            <PagerContent>
                <MudTablePager dir="ltr" PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
      </div>
