@page "/"
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="alert alert-warning alert-dismissible fade show" dir="rtl" role="alert">
    <strong>سلام دوست عزیز!</strong> پورت پیشفرض برای اتصال 1883 میباشد و میتوانید با نام کاربری pub و رمز عبور 123به سرویس اتصال پیدا کنید
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-warning alert-dismissible fade show" dir="rtl" role="alert">
    در صورت رفرش کردن صفحه اطلاعات از دست میره!چون ذخیره نمی کنیم  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row" dir="rtl">
    <div class="col-md-6">
       <MudTable Items="@messages" FixedHeader="true" Height="400px" Loading="@_loader" Bordered="true" Striped="true">
            <HeaderContent>
                <MudTh>نام</MudTh>
                <MudTh>پیام</MudTh>
                <MudTh>تاریخ</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Message">@context.Message</MudTd>
                <MudTd DataLabel="Date">@context.Date</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager dir="ltr" PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    </div>
    <div class="col-md-6">
        <div>
            <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index_data"
                      Width="100%" Height="350px"></MudChart>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-6">
            <table class="table  table-responsive" id="ConnectionTable">
                <caption>دستگاه های متصل شده</caption>
                <thead>
                    <tr>
                        <th scope="col">نام کلاینت</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">نقطه اتصال</th>
                        <th scope="col">تاریخ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-6">
            <table class="table  table-responsive" id="ClientTable">
                <caption>موضوعات سابسکرایب شده</caption>
                <thead>
                    <tr>
                        <th scope="col">نام کلاینت</th>
                        <th scope="col">موضوع </th>
                        <th scope="col">تاریخ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
