@page "/"
@using MqttService.Clients
@inject NavigationManager NavigationManager

<div class="col-md-12">
    <center style="font-size:30px">دستگاه های فعال</center>
    <Table dir="rtl" Bordered="true" 
           Striped="true"
           FixedHeader
           FixedHeaderTableHeight="400px"
           Resizable
           ResizeMode="TableResizeMode.Columns">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>کد کلاینت</TableHeaderCell>
                <TableHeaderCell>آدرس</TableHeaderCell>
                <TableHeaderCell>CleanSession</TableHeaderCell>
                <TableHeaderCell>نام کاربری</TableHeaderCell>
                <TableHeaderCell>تاریخ اتصال</TableHeaderCell>
                <TableHeaderCell>عملیات</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in ConnectedClients.GetClients())
            {

                <TableRow>
                    <TableRowCell>@item.ClientId</TableRowCell>
                    <TableRowCell>@item.Endpoint</TableRowCell>
                    <TableRowCell>@item.CleanSession</TableRowCell>
                    <TableRowCell>@item.UserName</TableRowCell>
                    <TableRowCell>@item.LastConnectedDate</TableRowCell>
                    <TableRowCell>
                        <a Color="Blazorise.Color.Primary" href="/client/panel/@item.ClientId">پنل دستگاه</a>
                    </TableRowCell>
                </TableRow>

            }
        </TableBody>
    </Table>
</div>


                                