@page "/admin/camera/create"
@using IPCameraClient.Helper
@using SecurityService.Application.Service.Camera.IPCamera
@inject IIPCameraApplication _application
@inject IRtspUrlGenerator _rtspgenerator
@inject NavigationManager navigationmanager
@inject ISnackbar Snackbar

<h3>ثبت دوربین جدید</h3>
<Div Class="container">

    <EditForm Model="@createIPcamera" OnValidSubmit="@HandleValidSubmit">
        <div class="row input-group input-group-outline">
            <div class="form-group col-md-3"></div>

            <div class="form-group col-md-6">
                <div class="form-group col-md-12">
                    <label for="inputPassword4">نام کلاینت</label>
                    <InputText type="text" class="form-control" @bind-Value="createIPcamera.CameraName" />
                </div>
                <div class="form-group col-md-12">
                    <label for="inputEmail4">آدرس شبکه کلاینت</label>
                    <MudAutocomplete Style="border-color:'#d2d6da'" T="string" OpenIcon="@Icons.Material.Filled.Search" CoerceValue="true" CoerceText="false"
                                     Immediate="true" @bind-Value="createIPcamera.HostAddress" Margin="MudBlazor.Margin.Dense" SearchFunc="@SearchAsync" Dense="true"
                                     Variant="Variant.Outlined" />
                </div>
                <div class="form-group col-md-12">
                    <label for="inputPassword4">نام کاربری</label>
                    <InputText type="text" class="form-control" @bind-Value="createIPcamera.UserName" />
                </div>
                <div class="form-group col-md-12">
                    <label for="inputAddress">رمز عبور</label>
                    <InputText type="text" class="form-control" @bind-Value="createIPcamera.Password" />
                </div>
                <div class="form-group col-md-12">
                    <label for="inputAddress">آدرس تصویر زنده(RTSP)</label>
                    <div class="row">
                        <div class="col-md-10 col-sm-12">
                            <InputText type="text" class="form-control" @bind-Value="createIPcamera.StreamAddress" />
                        </div>
                        <div class="col-md-2 col-sm-12">

                            <Button @onclick="FindRtspAddress" Class="btn btn-primary">بیاب</Button>
                        </div>
                    </div>
                    <label for="inputAddress">آدرس  پیشنهادی تصویر زنده(RTSP)</label>
                    <div class="alert alert-warning" style="text-align:center">
                        <Span>@GenerateRTSPUrl()</Span>
                    </div>
                </div>
                <br />
                <Blazorise.Button Type="Blazorise.ButtonType.Submit" Color="Blazorise.Color.Primary">ثبت دستگاه</Blazorise.Button>
                <a class="btn btn-danger" href="/admin/camera">بازگشت</a>
            </div>
        </div>
    </EditForm>

</Div>
<MudOverlay Visible="isVisible" DarkBackground="true" AutoClose="true">
    <MudProgressCircular Color="MudBlazor.Color.Primary" Indeterminate="true" />
</MudOverlay>
