@page "/admin/camera/gallery/{hostaddress}"
@inject IWebHostEnvironment Environment
@inject NavigationManager navmanager
@using Blazored.Video
@using Blazored.Video.Support

<style>
    #thumnail-size {
        height: 150px;
        width: 266px;
        margin: 10px;
    }
</style>

<div class="row">

    @foreach (var item in SelectedfilesModelImage)
    {
        <div class="col-md-3 col-sm-12">


            <div class="card m-3">
                <img class="card-img-top" src="@item.FileName" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@Path.GetFileName(@item.FileName)</p>
                    <p class="card-text">@item.FasriFileCreationTime</p>

                </div>
            </div>

        </div>
    }
</div>
<center dir="ltr">
    <br />
    <MudPagination ShowFirstButton="true"  Variant="Variant.Outlined" ShowLastButton="true" Count="_countPageImg"  SelectedChanged="GetPagedImageAddress"/>
</center>
<hr />

<div class="row">

    @foreach (var item in SelectedfilesModelVideo)
    {

        <div class="col-md-3 col-sm-12">
            <div class="card m-3">
                <BlazoredVideo class="card-img-top" controls="controls">
                    <source src="@item.FileName" type="video/mp4" />
                </BlazoredVideo> 
                <div class="card-body">
                    <p class="card-text">@Path.GetFileName(@item.FileName)</p>
                    <p class="card-text">@item.FasriFileCreationTime</p>

                </div>
            </div>

        </div>

    }
</div>
<center  dir="ltr">
        <br />
    <MudPagination ShowFirstButton="true"  Variant="Variant.Outlined" ShowLastButton="true" Count="_countPageVideo"  SelectedChanged="GetPagedVideoAddress"/>
</center>
